.Nav{
    background: #4343D1;
    box-shadow: 0 0 50px 0 #4343D1;
    filter: drop-shadow(0 20px 1px #4343D1);
    font-size: .5rem;
    color: #BDCDDB;
    width: 90%;
    padding: .5rem;
    margin-top:1rem ;
    border-radius: 0 1rem 1rem 0 ;
}
.Nav h1, p  {
    margin: 1rem auto;
}
/* responsive */
@media screen and (min-width: 450px) {
    .Nav{
        align-items: center;
    }
    .Nav, p {
      font-size: .6rem;
    }
    .nav-p {
        font-size:.8rem ;
    }
}
@media screen and (min-width: 900px) {
    .Nav{
        width: 150vh;
        height: 20vh;
        margin: 2rem auto;
        padding: 2rem;
        border-radius: 1rem;
    }
}