@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
.Nav{
    background-color: #020912;
    color: #98e8cd;
    font-family: 'Red Hat Mono', monospace;
    text-shadow: 0 0 5px #fff;
}
.spans-title{
    color: #fff;
    text-shadow: 0 0 5px #98e8cd;
}
.nav-h1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.nav-p{
    padding-bottom: 1rem;
}
.code{
    
}