.Projects{
    background-color:#020912;
    color:#98e8cd;
}
.projects-h2, .projects-h3{
    text-shadow: 0 0 5px #fff;
    padding: 1.5rem;
}

.iframe{
    width: 90%;
    height: 100vh;
    border-radius: 1rem;
    box-shadow: 0 0 10px 1px #98e8cd;
}
.button-arrow{
    background: none;
    border: none;
}
.arrow{
    color: #98e8cd;
    width:2.5rem ;
    height:2.5rem ;
    box-shadow: 0 0 5px 2px #98e8cd;
    border-radius: 1rem;
    margin: 1rem;
    padding: .5rem;
}
