@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #E0E9F4;
  color: #1c1c19;
  /* background-position:center;
  background-size:cover;
  background-attachment: fixed;
  color: #ffffff; */
}
.App {
  text-align: center;
  font-family: 'Red Hat Mono', monospace;
}

